body{
    background-color: lavender;
}
div{
    width: 100%;
    background-color: red;
    height: 100px;
}
/* ul{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
} */

ul {
    display: grid;
    grid-template-areas: "a a a a";
    justify-items: center;
}

ul li{
    list-style: none;
}

#red{
    color: red;
    font-size: 60px;
}
#blue{
    color: blue;
    font-size: 16px
}
#green{
    color: green;
    font-size: 16px
}
#yellow{
    color: yellow;
    font-size: 16px
}

@media screen and (max-width:500px){
    div{
        background-color: blue;
    }
    ul{
        grid-template-areas: "a" "a" "a" "a";
    }
    #red{
        color: red;
        font-size: 16px;
    }
    #blue{
        color: blue;
        font-size: 60px;
    }
    #green{
        color: green;
        font-size: 16px;
    }
    #yellow{
        color: yellow;
        font-size: 16px;
    }

@media screen and (max-width:300px){
    div{
        background-color: green;
    }
    ul{
        grid-template-areas: "a" "a" "a" "a";
    }
    #blue{
        font-size: 16px;
    }
    #green{
        font-size: 60px;
    }

}
@media screen and (max-width:100px){
    div{
        background-color: yellow;
    }
    ul{
        grid-template-areas: "a" "a" "a" "a";
    }
    #green{
        font-size: 16px;
    }
    #yellow{
        font-size: 60px;
    }

}



}





